@font-face {
  font-family: 'icon';
  src: url("./icons.woff") format("woff");
  font-weight: normal;
  font-style: normal; }

[class^="icon-"], [class*=" icon-"] {
  font-family: 'icon';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-user:before {
  content: "\f007"; }

.icon-close:before {
  content: "\f00d"; }

.icon-rotate-right:before {
  content: "\f01e"; }

.icon-rotate-left:before {
  content: "\f0e2"; }

*, *::before, *::after {
  box-sizing: border-box; }

body {
  margin: 0;
  font-family: Titillium;
  font-size: 16px;
  color: #555; }

.Sidebar {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%); }

.Sidebar-title {
  font-size: 36px; }

.Sidebar-section {
  margin-top: 60px; }

.Sidebar-subSection {
  margin-top: 15px; }

.Sidebar-rotateBtn {
  display: inline-block;
  color: #888;
  cursor: pointer;
  padding: 5px;
  margin: -5px 15px -5px -5px;
  transition: color .25s; }
  .Sidebar-rotateBtn:hover {
    color: #555; }

.Sidebar-info {
  font-size: 12px;
  font-weight: 300; }

.Sidebar-link {
  cursor: pointer;
  color: #aaa;
  transition: color .25s; }
  .Sidebar-link:hover {
    color: #555; }

.BoardBase {
  position: fixed;
  width: 500px;
  height: 500px;
  top: 60%;
  left: 55%;
  background: #f8f8f8;
  transition: all .25s; }

.Bead {
  position: relative;
  width: 50px;
  height: 50px;
  left: -25px;
  margin-top: -3px;
  border-radius: 50%;
  background: #ff9c38;
  opacity: .2; }

.Column {
  position: absolute;
  transform: rotate(180deg);
  left: -8px;
  bottom: 0;
  height: 196px;
  width: 16px;
  padding: 3px 8px 0;
  border-radius: 8px 8px 0 0 / 5px;
  background: #e0e0e0;
  transition: background .25s; }
  .Column:hover {
    background: #92e2b0; }

.Column::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  border-radius: 8px 0 0 0 / 5px;
  background: rgba(0, 0, 0, 0.07); }

.Column::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 100%;
  height: 10px;
  border-radius: 8px / 5px;
  background: #eee;
  transition: background .25s; }
  .Column:hover .Column::after {
    background: #d6f0e0; }

.Board-columnContainer {
  position: fixed;
  top: 0;
  left: 0; }
