.Sidebar {
  position: fixed;
  left: 5%;
  top: 50%;
  transform: translateY(-50%);
}

.Sidebar-title {
  font-size: 36px;
}

.Sidebar-section {
  margin-top: 60px;
}

.Sidebar-subSection {
  margin-top: 15px;
}

.Sidebar-player {
  opacity: .5;
  transition: opacity .25s;

  &--active {
    opacity: 1;
  }
}

.Sidebar-playerBead {
  display: inline-block;
  vertical-align: baseline;
  margin-right: 10px;
  width: 15px;
  height: 15px;
  border-radius: 50%;

  &--p1 {
    background: $color-bead-1;
  }
  &--p2 {
    background: $color-bead-2;
  }
}

.Sidebar-rotateBtn {
  display: inline-block;
  color: $gray;
  cursor: pointer;
  padding: 5px;
  margin: -5px 15px -5px -5px;
  transition: color .25s;
  &:hover {
    color: $gray-dark;
  }
}

.Sidebar-info {
  font-size: 12px;
  font-weight: 300;
}

.Sidebar-link {
  cursor: pointer;
  color: $gray-light;
  transition: color .25s;
  &:hover {
    color: $gray-dark;
  }
}
